{% extends 'header.html' %}
{% block myContent %}
    <div class="container">
        <div class="row">
        <div class="col col-12 col-sm-2 col-md-2 col-lg-2 col-xl-2 col-xxl-2"></div>
        <div class="col col-12 col-sm-8 col-md-8 col-lg-8 col-xl-8 col-xxl-8">
            <form action="http://127.0.0.1:8000/cricket/add/" method="post"> 
             <table class="table table-borderless">
                 <h1>
                     <center>
                         Registration Form
                     </center>
                 </h1>

                 <tr>
                     <td>Cricketer Name</td>
                     <td><input name="cricketer_name"type="text" class="form-control"></td>
                 </tr>
                 <tr>
                     <td>Matchone Score</td>
                     <td><input name="matchone_score"type="text" class="form-control"></td>
                 </tr>
                 <tr>
                     <td>Matchtwo Score</td>
                     <td><input name="matchtwo_score"type="text" class="form-control"></td>
                 </tr>
                 <tr>
                     <td>Location</td>
                     <td><input name="location"type="text" class="form-control"></td>
                 </tr>
                 <tr>
                     <td>Team</td>
                     <td>
                         <select name="team" class="form-control">name="" id="">
                        <option value="RCB">RCB</option>
                        <option value="CSK">CSK</option>
                        <option value="MI">MI</option>
                        <option value="KKR">KKR</option>
                        <option value="DC">DC</option>
                        <option value="PK">PK</option>
                        <option value="RR">RR</option>
                        <option value="SRH">SRH</option>
                        
                    </select>
                    <!-- <input name="team"type="text" class="form-control"> -->

                     </td>
                 </tr>
                 <tr>
                     <td>Batting Style</td>
                     <td><input name="batting_style"type="text" class="form-control"></td>
                 </tr>
                 <tr>
                     <td>Bowling Style</td>
                     <td><input name="bowling_style"type="text" class="form-control"></td>
                 </tr>
                 <tr>
                     <td></td>
                     <td><center><Button class="btn btn-success">Register</Button></center></td>
                 </tr>
             </table>
            </form>
        </div>
    
        <div class="col col-12 col-sm-2 col-md-2 col-lg-2 col-xl-2 col-xxl-2"></div>
    </div>
    </div>
{% endblock %}