{% extends 'header.html' %}
{% block myContent %}
      <div class="container">
          <div class="row">
              <div class="col col-12 col-sm-2 col-md-2 col-lg-2 col-xl-2 col-xxl-2"></div>
              <div class="col col-12 col-sm-8 col-md-8 col-lg-8 col-xl-8 col-xxl-8">
                <form action="http://127.0.0.1:8000/cricket/search/" method="post">
                <table class="table table-borderless">
                      <tr>
                          <td>Cricketer_name</td>
                          <td> <input name="cricketer_name" type="text" class="form-control"></td>
                      </tr>
                      <tr>
                          <td></td>
                          <td><center>
                              <Button type="submit" class="btn btn-success">SEARCH</Button>
                          </center></td>
                      </tr>
                      
                  </table> 
                 </form>
                {% if data %} 
                <table class="table table-borderless">
                    {% for i in data %} 
                    <tr>
                        <td>Cricketer_name</td>
                        <td>{{i.cricketer_name}}</td>
                    </tr>
                    <tr>
                        <td>Matchone_score</td>
                        <td>{{i.matchone_score}}</td>
                    </tr>
                    <tr>
                        <td>Matchtwo_score</td>
                        <td>{{i.matchtwo_score}}</td>
                    </tr>
                    <tr>
                        <td>Team</td>
                        <td>{{i.team}}</td>
                    </tr>
                    <tr>
                        <td>Location</td>
                        <td>{{i.location}}</td>
                    </tr>

                    <tr>
                        <td>Batting_style</td>
                        <td>{{i.batting_style}}</td>
                    </tr>
                    <tr>
                        <td>Bowling_style</td>
                        <td>{{i.bowling_style}}</td>
                    </tr>

                    {% endfor %}
                 </table> 
                 {% endif %}
              </div>
              <div class="col col-12 col-sm-8 col-md-8 col-lg-8 col-xl-8 col-xxl-8"></div>
          </div>
      </div>
{% endblock %}