{% extends 'header.html' %}
{% block myContent %}
<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-2 col-md-2 col-lg-2 col-xl-2 col-xxl-2"></div>
        <div class="col col-12 col-sm-2 col-md-2 col-lg-2 col-xl-2 col-xxl-2">
            <table class="table table-striped">
                <thead class="table-success">
                    <tr>
                        <th>Name</th>
                        <th>Address</th>
                        <th>Mobile Number</th>
                        <th>Car Model</th>
                        <th>Car Model Year</th>
                        <th>purchased_date</th>
                        <th>Username</th>
                        <th>Password</th>
                    </tr>
                </thead>
                <tbody>
                    {% for i in data %}
                    <tr>
                        <td>{{i.name}}</td>
                        <td>{{i.address}}</td>
                        <td>{{i.mobile_no}}</td>
                        <td>{{i.car_model}}</td>
                        <td>{{i.carmodel_year}}</td>
                        <td>{{i.purchased_date}}</td>
                        <td>{{i.username}}</td>
                        <td>{{i.password}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
        </div>
        <div class="col col-12 col-sm-2 col-md-2 col-lg-2 col-xl-2 col-xxl-2"></div>
    </div>
</div>
{% endblock %}